.table {
  background-color: $light-gray;
  border-radius: 0.5rem;
  display: table;
  line-height: 2rem;
  width: 100%;
  transition: 0.5s ease ease-in-out;
  text-align: center;
}
.col_sum {
  width: 10%;
}
.col_place,
.col_race {
  width: 8%;
}

.table__row:nth-child(even) {
  background-color: $mid-gray;
}

.table__head {
  background-color: $mid-gray;
}

@media screen and (max-width: $tablet) {
  .table {
    width: 100%;
  }
  .head__row {
    display: flex;
    flex-direction: column;
    th {
      padding: 0;
    }
  }
  .race {
    width: 100%;
  }

  .data_hide {
    display: none;
  }
  .table__row {
    display: flex;
    flex-direction: column;
  }
  .table__data {
    border-bottom: dashed 0.1px $dark-gray;
    display: flex;
    gap: 1rem;
    &::before {
      content: attr(data-label);
      font-weight: bold;
    }
  }
}
.active {
  background-color: rgba($green, 0.5);
}
