$black: #222022;
$light-gray: #efedef;
$mid-gray: #ceccce;
$green: #6ead3a;
$dark-gray: #4c4947;

$color-table: rgb(205, 205, 223);

$color-bg: $black;
$color-font: $black;

$desktop: 1440px;
$tablet: 980px;
$mobile: 638px;
$small-mobile: 340px;
